.container{
    height: 350px;
    width: 100%;
    padding: 0 0 0 10%;
    /* background-color: green; */
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.left{
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}
.imgDiv{
    height: 300px;
    width: 80%;
    /* background-color: red; */
    border-radius: 200px  0 0 0;
    overflow: hidden;
    position: relative;
}
.container .right{
    flex: 1;
    height: 100%;
    width: 100%;
    /* background-color: pink; */
    /* justify-content: center;
    align-items: center; */
}
.safety{
    font-size: 18px;
    font-weight: 700;
}
.showUp{
    width: 80%;
    font-size: 30px;
    font-weight: 700;
    color: black;
    margin-top: 20px;
   
}
.narration{
    font-size: 14px;
    margin-top: 30px;
}
.subArea{
    width: 100%;
    height: 60px;
    /* background-color: red; */
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    column-gap: 30px;
    font-weight: 700;
    align-items: center;
}
.subArea button{
    height: 50px;
    width: 150px;
    border-radius: 20px;
    border-style: solid;
    border-color: transparent;
    background-color: purple;
    color: white;
}